<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <div class="image"></div>
      </div>
      <div class="modal-body p-5 pt-0">
        <form [formGroup]="loginForm">
          <div class="form-floating mb-3">
            <input formControlName="username" type="text" class="form-control rounded-3" id="floatingInput" placeholder="username" required>
            <label for="floatingInput">username</label>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="password" type="password" class="form-control rounded-3" id="floatingPassword" placeholder="password" required>
            <label for="floatingPassword">password</label>
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" (click)="login()" type="submit" [disabled]="!loginForm.valid && loginForm.touched">Login</button>
          <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
          <hr class="my-4">
          <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
          <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"/></svg>
            Sign up with Twitter
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<ngx-spinner class="spiner" bdOpacity="1" bdColor="rgba(51,51,51,0.8)" type="ball-scale-multiple" size="medium">
  <p style="color: white;"> Carregando...</p>
</ngx-spinner>
